<div id="yesNoQ" class="container" >
  <div *ngIf="oldAnswer === null"class="form-group">
    <input class="yes" type="radio" name="{{question.text}}" value="Yes" (change)="radioChangeHandler($event)"  [(ngModel)]="answer" > Yes
    <input type="radio" name="{{question.text}}" value="No" (change)="radioChangeHandler($event)"   [(ngModel)]="answer" > No
  </div>
  <div *ngIf="oldAnswer !== null"class="form-group">
    <input [ngClass]="{'checked': oldAnswer === 'Yes'}" type="radio" name="{{question.text}}" value="Yes" (change)="radioChangeHandler($event)" [(ngModel)]="oldAnswer" > Yes
    <input [ngClass]="{'checked' : oldAnswer === 'No'}"  type="radio" name="{{question.text}}" value="No" (change)="radioChangeHandler($event)"   [(ngModel)]="oldAnswer"> No
  </div>
</div>