$font-color:  #231717;
$background-color: #f3f3f3;

$numberQuestion-color: #98dafc;
$multiSelectQuestion-color: #c5d5cb;
$selectQuestion-color: #3fb0ac;
$yesNoQuestion-color: #e6cf8b;

$container-padding: 10px;
$myBtn-margin: 8px;
$buttonGroup-margin: 18px;
$border-radius: 7px;

$form-border: 1px solid rgb(130, 209, 255);
$form-background: #dcf4ff54;